body {
  background: #e3f0d0;
}

.MuiBadge-badge {
  background: #287c2c !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.btn-green {
  background: #287c2c !important;
  color: #fff !important;
  padding: 8px 20px !important;
}

.btn-green:hover {
  background: #18641c !important;
  color: #fff !important;
}
